.spinner_container{
display: grid;
justify-content: center;
align-items: center;
height: 38rem;
}

.spinner{
   animation: img_spinner 1.5s linear infinite;
}
@keyframes img_spinner {
    0% { transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}

@media( prefers-reduced-motion: reduced){
    .spinner{
        animation: none;
    }
}