.sigin_section{
    grid-area: signin;
    padding: 2rem;
    border: 2px solid grey;
}
.username{
    margin-left: 2.3rem;
}
.password{
    margin-left: 3.2rem;
}
.login_sec{
    grid-area: signin;
    padding: 2rem;
    border: 2px solid grey;
}
.category_dropdown{
    width: 100%;
}
.forgotPWD{
    margin-left: 0.8rem;
}
.login_sec input {
    border-radius: 20px;
    line-height: 1rem;
    padding: 1rem;
    font-size: 17px;
    border: 2px solid black;
}
.login_sec form{
    display: grid;
    grid-gap: 1rem;
}
form {
    display: grid;
    grid-gap: 1.2rem;
}
.form_head{
    margin: auto;
    width: 16rem;
}
.signup_button{
    width: 18rem;
    margin: auto;
    background-color: #1877f2;
    font-size: 20px;
    color: white;
    line-height: 3rem;
    border-radius: 15px;
    border: none;
}
.form_head h1{
    margin: 0px;
}
.form_head h5{
    margin-top: 7px;
}
.signin_page {
    grid-template-columns: 1fr 0.8fr 1fr;
    /* grid-template-rows: 0.7fr 1fr ; */
    display: grid;
    grid-template-areas: ". ."
                ". signin "
                ". .";
    margin-bottom: 3rem;
}

.university{
    margin-left: 3rem;
}
.email {
    margin-left: 4.7rem;
}
.lname, .fname {
    margin-left: 2.5rem;
}
.terms_services_section{
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
}
.terms_services_section input {
    margin: 0px;
    margin-top: 5px;
    margin-right: 0.5rem;
}
.terms_services_section p {
    margin: 0px;
}
.login_header{
    margin-top: 0;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
}
.LoginBtn{
    line-height: 2rem;
    border-radius: 14px;
    font-size: 21px;
    background-color: #1877f2;
    color: white;
}
.login_sec a {
    color: #047caf;
    cursor: pointer;
    text-decoration: none;
}
.tips_to_sell{
    grid-area: TipsTosell; 
}
.error{
    color: red;
    font-weight: bold;
    margin: 1rem;
}
.button_as_link{
    border: none;
    background: transparent;
    color: #0000EE;
    font-weight: bold;
    text-decoration: underline;
}
@media (max-width : 480px) and (min-width : 320px) {
    .email {
        margin-left: 2.2rem;
    }
    .lname, .fname {
        margin-left: 0rem;
    }
    .university {
        margin-left: 0.5rem;
    }
   .signup_button {
    line-height: 2rem;
    }
   .signin_page {
    margin-bottom: 1rem;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    }
    .username {
        margin-left: 0.2rem;
    }
    .password {
        margin-left: 1rem;
    }
}
@media (min-width: 481px) and (max-width: 1024px){
    .lname, .fname {
        margin-left: 1rem;
    }
    .email {
        margin-left: 3.2rem;
    }
    .university {
        margin-left: 1.5rem;
    }
    .signup_button {
        line-height: 2rem;
    }
    .sell_page{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .username {
        margin-left: 1rem;
    }
    .password {
        margin-left: 2rem;
    }
}

