.error_page{
    display: flex;
    justify-content: center;
}
.error_div{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.emoji{
    font-size: 7rem;
}
.error_code{
    color: grey;
    font-size: 4rem;
    padding-left: 2rem;
}
.error_message{
    font-size: 2rem;
}